div {
	text-align: center;
	margin-top: 20px;
}

img { 
	width: 80px; 
}

#error{
	margin: 10px auto 10px auto;
    text-align: center;
    height: 1.2em;
    font-size: .9em;
    color: #ab0111;
}

.error-input {
	border-color: #ab0111;
}

.error-button {
	background: #ab0111;
}

input {
	border: 1px solid black;
    border-radius: 5px 0 0 5px;
    height: 35px;
    vertical-align: top;
    padding: 10px;
}

button {
	border: 1px solid black;
    background: black;
    border-radius: 0px 5px 5px 0;
    color: white;
    width: 85px;
    padding: 5px 10px;
    height: 35px;
    margin-left: -5px;
}

#footer { 
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer img {
	width: 200px;
    margin-top: 40px;
}

